@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Comfortaa', 'sans-serif';
    color: teal;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white; 
    font-size: x-large;
}

h1, h2 {
     font-weight: 500;
     line-height: 1.2;
     margin: 10px 0;
}

h2 {
    color: teal;
}

p {
    margin: 10 px 0;
    font-size:larger;
}

::placeholder {
    color:teal;
    font-size: medium;
}

img {
    width: 100%;
}

/* Navbar section*/
.navbar {
    background-color: teal;
    color: white;
    height: 70px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: white;
    padding: 10px;
    margin: 0 5px;
} 

.navbar a:hover{
    border-bottom: 2px white solid;
}

.navbar .flex {
    justify-content: space-between;
}

/* Stats section */
.stats {
    padding-top: 100px;
    animation: slideInTop 1s ease-in;
}

.stats-heading {
    max-width: 500px;
    margin: auto;
}

.stats .grid h3 {
    font-size: 35px;
}

.stats .grid p {
    font-size: 20px;
    font-weight: bold;
}

/* Log in section */
.login {
    height: auto;
    background-color: teal;
    position: relative;
    margin-bottom: 50px;
}

.login .flex,
.indexAPIs .flex {
    grid-template-columns: 50% 50%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.login-form {
    animation: slideInLeft 1s ease-in;
}

.signup-form {
    animation: slideInRight 1s ease-in;
}

.login-form, .signup-form {
    position: relative;
    height: 250px;
    width: 300px;
    padding: 10px;
    margin: 25px;
    justify-self: flex-end;
    align-self: center;
}

.login-form .form-control, .signup-form .form-control {
    margin: 10px 0;
}

.login-form input[type='email'],
.login-form input[type='password'],
.signup-form input[type='name'],
.signup-form input[type='email'],
.signup-form input[type='password'] {
    color: teal;
    border: 0;
    border-bottom: 1px solid #333;
    width: 100%;
    padding: 5px;
    font-size: 16px
}

.login-form input:focus, 
.signup-form input:focus,
.indexAPIs button,
.loggedin button
{
    outline-color: #333;
}

/* Contact section (ONLY for documentation)
.contact {
    height: 400px;
    background-color: teal;
    color: white;
    position: relative;
}

.contact h1 {
    font-size: 40px;
}

.contact p {
    margin: 20px 0;
}

.contact .grid {
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 30px;
}

.contact-form {
    position: relative;
    top: 60 px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
}

.contact-form .form-control {
    margin: 30px 0;
}

.contact-form input[type='text'],
.contact-form input[type='email'] {
    color: teal;
    border: 0;
    border-bottom: 1px solid #333;
    width: 100%;
    padding: 3px;
    font-size: 16px
}

.contact-form input:focus {
    outline: none;
}

.contact::before, 
.contact::after {
    content:'';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: white;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg); 
    -moz-transform: skewY(-3deg); 
    -ms-transform: skewY(-3deg); 
} */

/* Languages section */
.languages .flex {
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.languages .card {
    text-align: center;
    margin: 18px 20px 40px;
    transition: transform 0.2s ease-in;
    width: 100px;
}

.languages .card h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.languages .card:hover {
    transform: translateY(-15px);
}

/* Index APIs */
.indexAPIs, 
.indexAPIs button,
.loggedin button {
    font-size: 24px;
    margin-bottom: 50px;
}

.quoted-text{
    font-style: italic;
}

/* About */
.about {
    animation: slideInTop 1s ease-in;
}


.about img{
    width: 200px;
    border-radius: 50%;
}

/* Logged in */
.loggedin {
    animation: slideInTop 1s ease-in;
}

.loggedin p,
#seeUsers {
    margin-bottom: 25px;
}

/* Footer */
.footer{
    background-color: teal;
    color: white;
}

.socialmedia{
    width: 40px;
} 

/* Animations */
@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}
@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}
@keyframes slideInTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateX(0);
    }
}


/* Tablets */
@media (max-width: 992px){
    .grid,
    .stats .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}

/* Mobile */
@media (max-width: 600px) {
    .navbar {
        height: 150px;
    }

    .navbar .flex{
        flex-direction: column;
    }

    .navbar ul {
        padding: 10px;
    }
}
